body{
font-family: arial;

}
.add{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
}
.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 150px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
}
.todo-input-grid{
    margin-bottom: 10px;
}

.todo-input,
.date-input{
    padding: 6px;
    font: 12px;
}

.delete-button{
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
}